<article class="library-card">
  <div class="library-card-header">
    <h2 x-text="<%=show_var%>.name" class='card-title'></h2>
    <div class="subhead-links">
      <button
        class="copy-id-button"
        @click.prevent="utils.copyText(<%=show_var%>.id); $notify({ type: 'success', message: `Copied ID ${<%=show_var%>.id} to Clipboard`})"
      >
        <span x-text="`ID: ${<%=show_var%>.id}`"></span><i class="fas fa-copy"></i>
      </button>
      <a class="anidb-link" :href="`https://anidb.net/anime/${<%=show_var%>.id}`" target="_blank">
        visit anidb page
      </a>
    </div>
  </div>
  <div class="library-card-content">
    <div class="left-section">
      <img :src="`show_images/${<%=show_var%>.image}`" alt="Show Image" class="show-image">
    </div>
    <div class="right-section">
      <table class="info-table">
        <tr>
          <td>Status</td>
          <td>
            <%= erb :_library_badge, locals: { prefix: "#{show_var}.badge" } %>
            <span x-text="<%=show_var%>.badge.statusTooltip"></span>
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td><span x-text="<%=show_var%>.type"></span></td>
        </tr>
        <tr>
          <td>English Name</td>
          <td><span x-text="<%=show_var%>.english_name || '---'"></span></td>
        </tr>
        <tr>
          <td>Collection</td>
          <td>
            <template x-for="{group, normal, special } in <%=show_var%>?.eps_by_group" :key="group">
              <div class="group-eps">
                <div>
                  <div class="group-name small-text" x-text="group"></div>
                  <div class="episodes-bar">
                    <div class="normal-episodes">
                      <template x-for="(section, index) in normal.bar_data" :key="index">
                        <div
                          :class="section.present ? 'episode-present' : 'episode-missing'"
                          :style="{'flex-grow': section.count }"
                        >
                        </div>
                      </template>
                    </div>
                    <div class="special-episodes" x-show="<%=show_var%>?.hasSpecials()">
                      <div class="specials-present" :style="{'flex-grow': special?.bar_data.count}">
                      </div>
                      <div class="specials-absent" :style="{'flex-grow': special?.bar_data.remaining}">
                      </div>
                    </div>
                  </div>
                  <div class="ranges small-text">
                    <span class="normal-range" x-text="normal.ranges"></span>
                    <span x-show="<%=show_var%>?.hasSpecials()" class="special-range" x-text="special?.ranges">
                    </span>
                  </div>
                </div>
              </div>
            </template>
          </td>
        </tr>
        <tr>
          <td>Air Date</td>
          <td><span x-text="<%=show_var%>.air_date"></span></td>
        </tr>
        <tr>
          <td>End Date</td>
          <td><span x-text="<%=show_var%>.end_date"></span></td>
        </tr>
        <tr class="stretch-row">
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</article>
