# encoding: UTF-8
<div class="scan-show" :id="`${scan.id}-${show.aid}`" x-data="{anime: $getAnime(show.aid)}">
  <img :src="`show_images/${anime.thumb}`" alt="Show Thumbnail" class="show-thumbnail">
  <div class="scan-show-details">
    <div class="scan-show-title-wrapper">
      <h4>
        <%= erb :_library_badge, locals: { prefix: "anime.badge" } %>
        <span x-text="anime.name"></span>
      </h4>
    </div>
    <%= erb :_scan_show_detail, locals: { detail: "success", name: "Added" } %>
    <%= erb :_scan_show_detail, locals: { detail: "duplicate", name: "Duplicate" } %>
    <%= erb :_scan_show_detail, locals: { detail: "replacement", name: "Replacement" } %>
    <span class="final-status">
      <%= erb :_scan_show_detail, locals: { detail: "final_status", name: "Status" } %>
    </span>
  </div>
</div>
