<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cisqua</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <header class="main-header">
      <h1>Cisqua <% if test_mode %>TEST MODE<% end %>
      </h1>
    </header>
    <div class="container" x-data="data()">
      <div class="left-column">
        <section class="request-scan">
          <form @submit.prevent="submitForm($event)">
            <button id="start-scan" :disabled="hasRun && latestCheck.scan_in_progress">Start Scan</button>
            <div x-show="latestCheck.scan_in_progress" class="spinner-container">
              <div class="spinner"></div>
            </div>
            <input type="hidden" name="queried-timestamp" x-bind:value="queriedTimestamp">
            <div class="checkbox-list">
              <label>
                <input type="checkbox" name="debug_mode"> Debug Mode
              </label>
              <label>
                <input type="checkbox" name="dry_run" <%= 'checked="checked"' if dry_run %>> Dry Run
              </label>
            </div>
          </form>
        </section>
        <section class="latest-check">
          <div class="latest-check-header">
            <h2>Latest Check</h2>
            <p class="byline">
              <span class="highlight-text" x-text="latestCheck.checked_at"></span>
            </p>
          </div>
          <div x-show="hasRun">
            <p>
              <strong class="label">Date:</strong>
              <span x-text="latestCheck.checked_date"></span>
            </p>
            <p>
              <strong class="label">Time:</strong>
              <span x-text="latestCheck.checked_time"></span>
            </p>
            <p>
              <strong class="label">Source:</strong>
              <span x-text="latestCheck.reason"></span>
            </p>
            <p>
              <strong class="label">Result:</strong>
              <span x-text="latestCheck.result"></span>
            </p>
            <%# <p>
              <strong class="label">Queried:</strong>
              <span x-text="queriedTimestamp"></span>
            </p> %>
          </div>
          <div x-show="!hasRun">
            <p>
              <strong class="label">Status:</strong>
              <span>NEVER RUN</span>
            </p>
          </div>
        </section>
      </div>
      <div class="main-content">
        <div x-show="notif.data">
          <div
            class ="notification"
            :class="{ 'success': notif.data?.type === 'success', 'warning': notif.data?.type === 'warning', 'error': notif.data?.type === 'error' }"
          >
            <span x-text="notif.data?.badge"></span>
            <span x-text="notif.data?.message"></span>
          </div>
        </div>
        <div class="tabs-header">
          <button x-bind:class="{ 'active-tab': isTabActive('scans') }" class="tab-button"
                  x-on:click="setActiveTab('scans')">Scans</button>
          <button x-bind:class="{ 'active-tab': isTabActive('library') }" class="tab-button"
                  x-on:click="setActiveTab('library')">Library</button>
        </div>
        <section class="scans" x-show="activeTab === 'scans' && hasRun">
          <template x-for="scan in scans">
            <article class="scan-card" :class="{'in-progress': !scan.complete}">
              <header class="scan-card-header">
                <div class="header-content">
                  <strong>
                    <span class="highlight-text" x-text="scan.source"></span>
                    <span> Scan from </span>
                    <time class="highlight-text" x-text="scan.started_at"></time>
                  </strong>
                  <div class="right-group">
                    <span x-show="!scan.complete" x-text="scan.scanned_count + ' of'"></span>
                    <span x-text="scan.file_count"></span>
                    <span> files</span>
                    <span
                      class="expand-indicator"
                      x-on:click="scan.showDetails = !scan.showDetails"
                    >
                      <i class="fa-solid fa-circle-chevron-down" x-show="!scan.showDetails"></i>
                      <i class="fa-solid fa-circle-chevron-up" x-show="scan.showDetails"></i>
                    </span>
                  </div>
                </div>
                <div
                  x-show="scan.showDetails"
                  x-transition:enter="transition-transform ease-out duration-300"
                  x-transition:enter-start="opacity-0 transform scale-y-0"
                  x-transition:enter-end="opacity-100 transform scale-y-1"
                  x-transition:leave="transition-transform ease-in duration-300"
                  x-transition:leave-start="opacity-100 transform scale-y-1"
                  x-transition:leave-end="opacity-0 transform scale-y-0"
                  class="run-time-details">
                  <p><strong>Date:</strong><span x-text="scan.start_date"></span></p>
                  <p><strong>Time:</strong><span x-text="scan.start_time"></span></p>
                  <p><strong>Duration:</strong> <span x-text="scan.duration"></span></p>
                  <p><strong>Source:</strong> <span x-text="scan.source"></span></p>
                  <p><strong>Scan ID:</strong><span x-text="scan.id"></span></p>
                </div>
              </header>
              <div x-show="!scan.complete" class="spinner-container">
                <div class="spinner"></div>
              </div>
              <div x-show="scan.unknowns && scan.unknowns.length > 0" class="scan-show">
                <h4>
                  <%= erb :_library_badge, locals: {prefix: "libraryBadges['unknown-file']"}%>
                  <span>
                    <span class="highlight-text" x-text="scan.unknowns.length"></span>
                    <span>  Unrecognized Files</span>
                  </span>
                  <span
                      class="expand-indicator"
                      x-on:click="scan.showUnrecognized = !scan.showUnrecognized"
                    >
                    <i class="fa-solid fa-circle-chevron-down" x-show="!scan.showUnrecognized"></i>
                    <i class="fa-solid fa-circle-chevron-up" x-show="scan.showUnrecognized"></i>
                  </span>
                </h4>
                <div x-show="scan.showUnrecognized">
                  <template x-for="file in scan.unknowns">
                    <div class="scan-show-detail">
                      <span class="label unknown-label">Unknown:</span>
                      <span x-text="file"></span>
                    </div>
                  </template>
                </div>
              </div>
              <div class="recognized-shows">
                <template x-for="show in scan.updates">
                  <div class="scan-show">
                    <h4>
                      <%= erb :_library_badge, locals: {prefix: 'getBadgeDetails(show)'} %>
                      <span x-text="show.name"></span>
                    </h4>
                    <div class="scan-show-detail" x-show="show.success">
                      <span class="label added-label">Added:</span>
                      <span x-text="show.success?.eps_w_grps"></span>
                    </div>
                    <div class="scan-show-detail" x-show="show.replacement">
                      <span class="label replacement-label">Replaced:</span>
                      <span x-text="show.replacement?.eps_w_grps"></span>
                    </div>
                    <div class="scan-show-detail" x-show="show.duplicate">
                      <span class="label duplicates-label">Duplicate:</span>
                      <span x-text="show.duplicate?.eps_w_grps"></span>
                    </div>
                    <div class="scan-show-detail final-status">
                      <span class="label final-status-label">Status:</span>
                      <span x-text="show.latest.eps_w_grps"></span>
                    </div>
                  </div>
                </template>
              </div>
            </article>
          </template>
        </section>
        <section
          class="library"
          x-show="activeTab === 'library'"
          x-data="library"
          x-cloak
        >
          <div class="request-fetch">
            <button
              id="fetch-library"
              :disabled="libraryState == 'loading'"
              x-on:click="fetchLibrary"
            >Fetch Library</button>
            <article class="library-card">
              <div class="title-wrapper">
                <h2 class="card-title">Legend</h2>
                <label>On-Going</label>
                <%= erb :_library_badge, locals: {prefix: "libraryBadges['ongoing']"}%>
                <label>Ended (Incomplete)</label>
                <%= erb :_library_badge, locals: {prefix: "libraryBadges['ended-incomplete']"}%>
                <label>Ended (Complete)</label>
                <%= erb :_library_badge, locals: {prefix: "libraryBadges['ended-complete']"}%>
              </div>
            </article>
            <div x-show="libraryState == 'loading'" class="spinner-container">
              <div class="spinner"></div>
              <p>Loading library data...</p>
            </div>
          </div>
          <div x-show="libraryState == 'loaded'">
            <template x-for="[id, c] in Object.entries(libraryCards)" :key="id">
              <article class="library-card">
                <!-- Left Side: Primary Information -->
                <div class="left-section">
                  <div class="title-wrapper">
                    <h2 class="card-title" x-text="c.name"></h2>
                    <%= erb :_library_badge, locals: {prefix: 'c.badge'} %>
                  </div>
                  <p><span x-text="c.type"></span></p>
                  <p><span x-text="c.eps"></span></p>
                </div>
                <!-- Right Side: Detailed Information -->
                <div class="right-section">
                  <p><strong>ID:</strong> <span x-text="c.id"></span></p>
                  <p><strong>English Name:</strong><span x-text="c.english_name || '---'"></span></p>
                  <p><strong>Collection:</strong> <span x-text="c.contents"></span></p>
                  <p><strong>Air Date:</strong> <span x-text="c.air_date"></span></p>
                  <p><strong>End Date:</strong> <span x-text="c.end_date"></span></p>
                </div>
              </article>
            </template>
          </div>
        </section>
      </div>
    </div>
    <footer>
      <p>&copy; 2023 cisqua</p>
    </footer>
    <script>
      window.initialData = <%= initial_data.to_json.html_safe %>;
    </script>
    <script src="js/index.js" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>
